---
const title = "Sobre Mi";
import MainLayout from "../layouts/MainLayout.astro";
import Titulo from "../components/Titulo.astro";
---

<MainLayout title={title}>
  <section
    id="sobremi"
    class=" bg-gray-200 sm:h-[100vh] h-full text-center flex flex-col justify-center items-center gap-12 py-[10vh] "
    aria-labelledby="sobremi-title"
  >
    <div class="max-w-3xl flex flex-col gap-5">
      <div class="flex flex-col items-center sm:text-base text-[8vw]">
        <Titulo id="sobremi-title" text="Sobre Mí" />
      </div>
      <!-- Texto descriptivo -->
      <p class="text-center text-background leading-7 md:leading-8 sm:text-base text-[3vw]">
        Soy <strong class="text-primary">Ivan Cruz</strong>, tengo
        <strong class="text-primary">22 años</strong> y soy de
        <strong class="text-primary">Chimalhuacán, Edomex, México</strong>.
        Desde muy pequeño, me interesé en el mundo de la
        <strong class="text-primary">tecnología</strong>. Cursé la
        <strong class="text-primary">preparatoria</strong> en una
        <strong class="text-primary">carrera técnica</strong> que me proporcionó
        las
        <strong class="text-primary">bases de la informática</strong>. Sin
        embargo,
        <strong class="text-primary">la pandemia</strong> me llevó a
        <strong class="text-primary">dejar la universidad</strong>, lo que me
        impulsó hacia un
        <strong class="text-primary">aprendizaje autodidacta</strong>.
        <br /><br />
        Decidí inscribirme en <strong class="text-primary"
          >cursos especializados</strong
        >
        en
        <strong class="text-primary">desarrollo frontend</strong> de páginas web,
        lo que me permitió conocer diversos
        <strong class="text-primary">conceptos, técnicas y tecnologías</strong>
        enfocadas en el desarrollo web.
        <br /><br /> Además, tuve la oportunidad de
        <strong class="text-primary">crear varios proyectos</strong>, lo que me
        brindó
        <strong class="text-primary">valiosa experiencia</strong> en el campo. Actualmente,
        estoy en
        <strong class="text-primary">busca de oportunidades</strong> para entrar
        al
        <strong class="text-primary">mercado laboral</strong>.
      </p>
    </div>
  </section>
</MainLayout>
