---
const title = "Experiencia";
import Titulo from "../components/Titulo.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title={title}>
  <section
    id="experiencia"
    class=" px-0 bg-gray-200 text-center flex flex-col items-center w-full h-[100vh] justify-center"
  >
    <Titulo text="Experiencia" />

    <div class="text-background text-center leading-6 max-w-3xl flex flex-col gap-10">
      <p class="text-base sm:text-lg ">
        Actualmente, <span class="font-bold text-primary"
          >no tengo experiencia laboral</span
        > formal en el sector, pero he
        <span class="font-bold text-primary">trabajado</span> en varios
        <span class="font-bold text-primary">proyectos</span> que
        <span class="font-bold text-primary">demuestran</span> mis
        <span class="font-bold text-primary">habilidades técnicas</span>. Estos
        <span class="font-bold text-primary">proyectos</span>, que se describen
        a
        <span class="font-bold text-primary">continuación</span>, reflejan mi
        <span class="font-bold text-primary">capacidad</span> para
        <span class="font-bold text-primary">aplicar</span> lo
        <span class="font-bold text-primary">aprendido</span> y
        <span class="font-bold text-primary"
          >desarrollar soluciones efectivas</span
        >.
      </p>

      <div>
        <a href="/proyectos">
          <i class="icon-[maki--arrow] text-4xl" role="img" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </section>
</MainLayout>
