---
const title = "Formacion";
import Titulo from "../components/Titulo.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title={title}>
  <section
    id="formacion"
    class="pt-[10vh] px-0 bg-white text-center flex flex-col items-center w-full h-[100vh] justify-start"
  >
    <Titulo text="Formación" />

    <div class="flex flex-col gap-5">
      <ul class="list-none p-0">
        <li
          class="flex flex-col items-center justify-center gap-2 text-lg text-[#34495e] mb-5 md:gap-4 md:mb-5"
        >
          <span
            class="icon-[lsicon--education-outline]"
            role="img"
            aria-hidden="true"></span>
          <span class="font-bold"
            >Técnico en Programación - Bachillerato Tecnológico en Programación</span
          >
          <span class="italic">CECYTEM CHIMALHUACAN II,</span> Chimalhuacán, Estado
          de México (2017-2020)
        </li>

        <li
          class="flex flex-col items-center justify-center gap-2 text-lg text-[#34495e] mb-5 md:gap-4 md:mb-5"
        >
          <span class="icon-[si-glyph--code]" role="img" aria-hidden="true"
          ></span>
          <span class="font-bold"
            >Desarrollador Front-End Jr - Estudiante ONE (G6) - Oracle Next
            Education</span
          >
          <span class="italic">Alura Latam</span> Remoto (Enero 2024 - Julio 2024)
        </li>
      </ul>
    </div>
  </section>
</MainLayout>
