---
const title = "Formacion";
import Titulo from "../components/Titulo.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title={title}>
  <section
    id="formacion"
    class=" bg-white sm:h-[100vh] h-[100vh] text-center flex flex-col justify-center items-center gap-12 py-[10vh]"
  >
  <div class="sm:text-base text-[8vw]">
    <Titulo text="Formación" />
  </div>
  

    <div class="flex flex-col gap-5">
      <ul class="list-none p-0">
        <li
          class="flex flex-col items-center justify-center gap-2 text-lg text-[#34495e] mb-5 md:gap-4 md:mb-5"
        >
          <span
            class="icon-[lsicon--education-outline]"
            role="img"
            aria-hidden="true"></span>
          <span class=" italic font-bold sm:text-base text-[5vw]"
            >Técnico en Programación - Bachillerato Tecnológico en Programación</span
          >
          <span class=" italic sm:text-base text-[4vw]">CECYTEM CHIMALHUACAN II,</span> <span class=" italic sm:text-base text-[4vw]"> Chimalhuacán, Estado
            de México (2017-2020) </span>
        </li>

        <li
          class="flex flex-col items-center justify-center gap-2 text-lg text-[#34495e] mb-5 md:gap-4 md:mb-5"
        >
          <span class="icon-[si-glyph--code]" role="img" aria-hidden="true"
          ></span>
          <span class="font-bold italic sm:text-base text-[5vw]"
            >Desarrollador Front-End Jr - Estudiante ONE (G6) - Oracle Next
            Education</span
          >
          <span class="sm:text-base text-[4vw] italic">Alura Latam</span> <span class="italic sm:text-base text-[4vw]">Remoto (Enero 2024 - Julio 2024) </span>
        </li>
      </ul>
    </div>
  </section>
</MainLayout>
