---
const title = "Proyectos";
import MainLayout from "../layouts/MainLayout.astro";
import ProyectosReact from "../components/ProyectosReact.jsx";
---

<MainLayout title={title}>
  <section
    id="proyectos"
    class="py-16 bg-white text-center flex justify-center items-center flex-col space-y-12 w-full"
  >
    <h2 class="text-4xl font-bold text-primary">Proyectos</h2>
    <p class="text-gray-600 py-16"> Aquí puedes ver algunos de mis proyectos destacados.</p>
    <!-- Isla de React -->
    <ProyectosReact client:load />
  </section>
</MainLayout>
