---
const title = "Proyectos";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title={title}>
  <h2>¡Hola! Bienvenido a mi sitio web</h2>
  <p>Este es el contenido principal de la página de inicio.</p>
</MainLayout>
