---
const title = "Proyectos";
import MainLayout from "../layouts/MainLayout.astro";
import ProyectosReact from "../components/ProyectosReact.jsx";
import Titulo from "../components/Titulo.astro";
---

<MainLayout title={title}>
  <section
    id="proyectos"
    class="bg-white text-center flex flex-col justify-center items-center gap-12 py-[10vh]"
  >
    <div class="sm:text-base text-[8vw]">
      <Titulo text="Proyectos" />
    </div>

    <p class="text-gray-600 py-10 sm:text-base text-[5vw]">
      Aquí puedes ver algunos de mis proyectos destacados.
    </p>
    <!-- Isla de React -->
    <ProyectosReact client:load />
  </section>
</MainLayout>
