<!-- --- 
const year = new Date().getFullYear();  // Obtiene el año actual para mostrarlo dinámicamente
---

<footer class="bg-gray-800 text-white p-4 mt-8">
  <div class="max-w-screen-xl mx-auto text-center">
    <p class="text-sm">© {year} Mi Portafolio. Todos los derechos reservados.</p>
    <div class="mt-4">
      <a href="https://github.com/mi-usuario" class="hover:text-gray-400 mx-2">GitHub</a>
      <a href="https://www.linkedin.com/in/mi-usuario" class="hover:text-gray-400 mx-2">LinkedIn</a>
      <a href="mailto:miemail@dominio.com" class="hover:text-gray-400 mx-2">Email</a>
    </div>
  </div>
</footer> -->